$league-font: 'League Spartan', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;
$raleway-font: 'Raleway', sans-serif;
$roboto-font: 'Roboto Slab', serif;
$bgcolor-secondary: #A75265;
$primary: #EC7263;
$secondary: #FEBE7E;
$bgcolor-main: rgba(26, 26, 64, 0.04);
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;


