@import "src/variables/variables";

.aside {
  width: 270px;
  background-color: $bg-black-100;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  padding: 30px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid $bg-black-50;
  border-radius: 0px 20px 20px 0px;
}

.logo {
  flex: 0 1 30px;
  text-transform: capitalize;
}

.logo a {
  position: relative;
  color: $text-black-900;
  font-weight: 700;
  font-family: $font-dancing;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
}

.logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid $text-skin;
  border-left: 5px solid $text-skin;
  bottom: 0;
  left: 0;
}

.logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid $text-skin;
  border-right: 5px solid $text-skin;
  top: 0;
  right: 5px;
}

.logo a span {
  font-family: $font-roboto;
}

.aside nav {
  flex: 1 0;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid $bg-black-50;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}

.hamburger {
  fill: $text-skin;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

.nav-list li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid $bg-black-50;
  font-weight: 600;
  color: $text-black-900;
  padding: 5px 15px;
}

.nav-list li a.active {
  color: $text-skin;
}
