
@import './variables/variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.5;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: black;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  line-height: 1.8;
  font-family: $font-raleway;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-family: $font-roboto;
}

h1 {
  font-size: 2.5rem;
}

section {
  background-color: $bg-black-900;
  min-height: 100vh;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  padding: 0 30px;
  z-index: 0;
}

.padd-15 {
  padding: 0 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  position: relative;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 1.4rem 4.2rem;
  letter-spacing: 0.3rem;
  font-family: $font-league;
  cursor: pointer;
  position: relative;	
  user-select: none;
  color: $text-black-900;
  border-top: 2px solid $bg-black-50;
  border-bottom: 2px solid $bg-black-50;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.btn::before, .btn::after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
  left: 0;
	height: 0;
	width: 100%;
}

.btn:hover {
	color: $text-skin;
	transition-delay: .5s;
}

.btn:before {
	bottom: 0;	
	border: 1px solid black;
	border-top: 0;
	border-bottom: 0;
}

.btn:after {
	top: 0;
	height: 0;
}

.btn:hover:before,
.btn:hover:after {
	height: 100%;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
	background: black;
	transition-delay: .35s;
}