
@import './variables/variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.5;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: black;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  line-height: 1.8;
  font-family: $font-roboto;
}

.container {
  width: $container-width-lg;
  margin: 0, auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

.section {
  background-color: $bg-black-900;
  min-height: 100vh;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  z-index: 0;
}

